.container {
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.title {
  font-size: 2rem;
  color: var(--white900);
}

.textFooter {
  width: 26.9rem;
  color: var(--white900);
  font-size: 1.4rem;
  text-align: center;
  opacity: 0.64;
}
