* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

:root {
  font-size: 62.5%;
  --black700: rgba(0, 0, 0, 0.75);
  --black800: rgba(0, 0, 0, 0.88);
  --white900: #ffffff;
  --purple300: #633bbc;
  --red200: #e45858;
}

body {
  font-size: 1.6rem;
  font-family: 'Roboto', sans-serif;
  min-width: 100vw;
  min-height: 100vh;
  display: grid;
  place-content: center;
  letter-spacing: -0.02em;
  background: linear-gradient(167.96deg, #8257e5 0%, #271a45 100%);
}

body::-webkit-scrollbar {
  width: 1.1rem;
}

body::-webkit-scrollbar-track {
  background: var(--gray100);
}

body::-webkit-scrollbar-thumb {
  background: var(--purple);
  border-radius: 0.3rem;
}
